{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/apps.css' %}">
    </head>

    <body>
        <header>
            <h1> {{ magazine.title }} Details </h1>
            <nav>
                <div>
                    <a href="{% url 'show_magazines'%}">
                        Magazine List
                    </a>
                </div>
                <div>
                    <a href="{% url 'admin:index'%}">
                        Admin
                    </a>
                </div>
                <div>
                    <a href="{% url 'create_magazine'%}">
                        Create Entry
                    </a>
                </div>
            </nav>
        </header>
        <main>
            <div class="book-card">
                <img class= "book-cover" src= {{magazine.cover_page}}>
                <h1>{{ magazine.title }}</h1>
                <p> Amount of pages: {{ magazine.page }}</p>
                <p> Release Cycle: {{ magazine.release_cycle }}
                <h2> Description </h2>
                <p>{{ magazine.description }}</p>
                {% for issue in magazine.issues.all %}
                    <img src="{{ issue.cover_image }}" width=200>
                    <p>Issue Title: {{issue.title}}</p>
                    <p>Issue Number: {{issue.issue_number}}
                    <p>Publish Date: {{issue.date_published}}</p>
                {% endfor %}
            </div>
        </main>
    </body>

</html>