<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>

    <body>
    <header>
        <nav>
            <div>
                <a href="{% url 'show_magazines'%}">
                    Book List
                </a>
            </div>
        </nav>
    </header>
        <main>
            <h1>
                {{genre.name}}
            </h1>
            {% for genre in genre %}
            <div class="genre-card">
                <p>{{ genre.name }}</p>
                <p>{{ genre.magazines.first }}</p>
            
                
                
            
            </div>
            {% endfor %}
        </main>
    </body>

</html>