{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/apps.css' %}">
    </head>

    <body>
        <header>
            Magazine Lists
            <nav>
                <div>
                    <a href="{% url 'admin:index'%}">
                        Admin
                    </a>
                </div> 
                <div>
                    <a href="{% url 'create_magazine'%}">
                        Create Entry
                    </a>
                </div> 
                <div>
                    <a href="{% url 'show_books' %}">
                        See Our Book Collection
                    </a>
                </div>
            </nav>
        </header>
        <main>
            {% for magazine in magazines %}
                <div class="book-card">
                        <img src= {{magazine.cover_page}}>
                    <div>
                        <h2>
                            <a href="{% url 'show_magazine' magazine.pk%}">{{ magazine.title }}</a>
                        </h2>
                    </div>
                    <div>
                        <h3>{{ magazine.release_cycle}}</h3>
                    </div>
                    <p> Amount of pages: {{ magazine.pages }}</p>
                    <h2> Description </h2>
                    <p>{{ magazine.description }}</p>
                </div>
                 <div>
                    <a href="{% url 'edit_magazine' magazine.pk %}">
                        <button type="button">
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'delete_magazine' magazine.pk %}">
                        <button type="button">
                            Delete
                        </button>
                    </a>
                    <a href="{% url 'view_genre' magazine.pk %}">
                        <button>
                            Genere
                        </button>
                    </a>
                </div>
            {% endfor %}
        </main>
    </body>

</html>