<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>

    <body>
    <header>
        <nav>
        </nav>
    </header>
        <main>
            <div class="book-card">
                <p>{{ magazine.title }}</p>
                {% for review in magazine.reviews.all %}
                    <p>Review: {{ magazine.text }}</p>
                {% endfor %}
                {% for author in magazine.authors.all %}
                    <p>Author: {{ magazine.name }}</p>
                {% endfor %}
                <p>{{ magazine.pages }}</p>
                <p>{{ magazine.isbn }}</p>
                <p>{{ magazine.description }}</p>
            </div>
        </main>
    </body>

</html>