html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
}

header {
    padding: 24px;
}

footer {
    padding: 24px;
    background-color: burlywood;

}

main {
    max-width: 800px;
    margin: auto;
}

.book-card {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;

}

.book-cover {
    width: 200px;
    height: auto;

}

.booktitle {
    font-weight: bold;
    font-size: 100%;
}

.book-rating {
    font-size: 125%;
}

.bookauthor {
color: dimgray;
}

.detail-page-book-review {
    background-color: white;
    padding: 24px;
}

.create-page-book-review {
    background-color: white;
    padding: 24px;
}
    