{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/apps.css' %}">
    </head>

    <body>
        <header>
            <h1> {{ book.title }} Details </h1>
            <nav>
                <div>
                    <a href="{% url 'show_books'%}">
                        Book List
                    </a>
                </div>
                <div>
                    <a href="{% url 'admin:index'%}">
                        Admin
                    </a>
                </div>
                <div>
                    <a href="{% url 'create_book'%}">
                        Create Entry
                    </a>
                </div>
            </nav>
        </header>
        <main>
            <div class="book-card">
                <img class= "book-cover" src= {{book.image}}>
                {% for review in book.reviews.all %}
                    <p>Review Title: {{review.review_title}}</p>
                    <p>Reviewer: {{review.reviewer}}
                    <p>Review: {{ review.text }}</p>
                {% endfor %}
                {% for author in book.authors.all %}
                    <p>Author: {{ author.name }}</p>
                {% endfor %}
                <p> Amount of pages: {{ book.pages }}</p>
                <p>ISBN: {{ book.isbn }}</p>
                <h2> Description </h2>
                <p>{{ book.description }}</p>
                <div>
                    <a href="{% url 'edit_book' book.pk %}">
                        <button type="button">
                            Edit
                        </button>
                    </a>
                </div>
                <div>
                    <a href="{% url 'delete_book' book.pk %}">
                        <button type="button">
                            Delete
                        </button>
                    </a>
                </div>
            </div>
        </main>
    </body>

</html>