{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/apps.css' %}">
    </head>

    <body>
        <header>
            Book Lists
            <nav>
                <div>
                    <a href="{% url 'admin:index'%}">
                        Admin
                    </a>
                </div>
                <div>
                    <a href="{% url 'create_book'%}">
                        Create Entry
                    </a>
                </div>
                <div>
                    <a href="{% url 'show_magazines' %}">
                        Come see our magazines
                    </a>
                </div>
            </nav>
        </header>
        <main>
            {% for book in books %}
                <div class="book-card">
                    <a href="{% url 'show_book' book.pk %}">
                        <img class="book-cover" src= {{book.image}}>
                    </a>
                    <div class="booktitle">
                        <h2>
                            <a href="{% url 'show_book' book.pk %}">{{ book.title }}</a>
                        </h2>
                    </div>
                    <div class="bookauthor">
                        <h3>{{ book.authors.first.name }}</h3>
                    </div>
                    <p> Amount of pages: {{ book.pages }}</p>
                    <p>ISBN: {{ book.isbn }}</p>
                    <h2> Description </h2>
                    <p>{{ book.description }}</p>
                </div>
                <div>
                    <a href="{% url 'edit_book' book.pk %}">
                        <button type="button">
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'delete_book' book.pk %}">
                        <button type="button">
                            Delete
                        </button>
                    </a>
                </div>
            {% endfor %}
        </main>
    </body>

</html>